#social-buttons button {
  color: white
}

body{
  background-color: grey;
}

.jumbotron{
  background-image: url('../images/fruit-and-veg.jpg');
  background-size: cover;
  background size: fixed;
}

.btn-twitter{
  background: #00acee;
  border-color: #009ad5;
}

.btn-facebook{
  background: #4868ac;
  border-color: #314776;
}

.btn-pinterest{
  background: #b62f26;
  border-color: #b62f26
}

#mission {
  background rgba(32, 35, 41, 0.9);
  color #ddd;
}
