.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('images/tillerrun.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron h1 {
  font-family: 'Courier';
  color: white;
  margin-bottom: 1em;
}

#map {
  background-image: url('images/leaves.jpg');
  padding-bottom: 40px;
  color: white;
