
.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url(images/grass.jpg);
  background-size: cover;
  background-color: #00820d;
}

.jumbotron p {
  color: white;
}


blockquote {
  border-left: 0;
}

#contact {
  background-color: #00820d;
  padding-bottom: 40px;
}
.jumbotron .form-group {
  line-height: 1em;
}

.jumbotron img {
  margin-top: 50px;
}
h2 {
  margin-bottom: 1.5em;
}

.navbar-inverse {
  background-color: rgba(32, 35, 41,0.8);
}

.form-inline input[name='email'] {
  width: 80%;
}
#social-buttons {
  margin-top: 50px;
}

.btn-instagram {
  background-color: #ba14e3;
  border-color: #8a11a8;
  color: white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-reddit {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
}

.img-responsive {
  border-radius: 50%
}

label {
  color: white;
}

#feat {
  background-color: #e67f02;
}

#links {
 color: black
}

body {
  font-family: arial;
}

#contact {
  background-image: url(images/grass.jpg);
}
